.idea/*
.idea
web/components/*
web/bundles/*
web/css/*
web/js/*
web/uploads/*
web/assetic/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
/app/config/parameters.yml
/phpunit.xml
/composer.lock
/composer.phar
